.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  background: conic-gradient(#0000 10%, #766df4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 3px), #000 0);
  animation: s3 0.5s infinite linear;
}

.loader.small {
  width: 20px;
  height: 20px;
}

.loader.medium {
  width: 50px;
  height: 50px;
}

.loader.large {
  width: 100px;
  height: 1000px;
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}
