.container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: auto;
  border: 1px solid black;
  font-size: 14px;
  border-collapse: collapse;
}

.table .head th {
  text-align: start;
  font-size: 16px;
}

.table th,
.table td {
  border-right: 1px solid black;
  vertical-align: top;
}

.table th:last-child,
.table td:last-child {
  border-right: none;
}

.col_start_date,
.col_finish_date {
  width: 130px;
}
.col_state {
  width: 200px;
}
