.centered_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(188, 195, 208, 0.5);
  padding: 15px;
  z-index: 100;
}
